m-becommerce {
  @product-font-size: 13px;
  @product-line-height: 1.4;
  @product-lines-to-show: 2;
	.store {
		.search-bar {
	    display: block;
	    padding: 10px 10px 12px 10px;
	    .search-input {
        height: 30px;
	      width: ~"calc(100% - 20px)";
        border-radius: 5px;
        padding: 0 10px;
        background: #FFFFFF;
			}
      .store-menu {
        padding-top: 12px;
        display: flex;
        text-align: center;
        .menu-button{
          font-family: "Helvetica Neue",Roboto,"Segoe UI",sans-serif;
          width: 50%;
          font-size: 14px;
          letter-spacing: 0;
          opacity: 0.6;
        }
        .selected {
          font-weight: 400;
          opacity: 1;
        }
      }
		}
    .banner{
      background: rgba(215,215,215,0.25);
      padding-bottom: 15px;
      img {
      	width: 100%;
      	margin: 0 auto;
      	display: block;
      }
    }
    .sections {
      .section-title {
        font-size: 16px;
        letter-spacing: 0;
        padding-top: 10px;
      }
      padding: 0 10px;
      :nth-child(even) {
        margin-right: 10px;
      }
      .product {
        margin-bottom: 10px;
        padding: 10px;
        width: ~"calc(50% - 5px)";
        float: left;
        background: #FFFFFF;
        color: #4A4A4A;
        img {
          width: 100%;
        }
        .name {
          font-size: @product-font-size;
          display: -webkit-box;
          -webkit-line-clamp: @product-lines-to-show;
          -webkit-box-orient: vertical;
          margin: 10px 0;
          white-space: normal;
          height: @product-font-size*@product-line-height*@product-lines-to-show;
          line-height: @product-line-height;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .value {
          line-height: 18px;
          font-weight: bold;
          padding: 0;
          margin: 0;
        }
        .value-from {
          font-size: 11px;
          font-weight: normal;;
          text-decoration: line-through;
        }
        .value-to {
        }
      }
    }
  }
}
