m-becommerce {
	.store {
		.search-bar {
	    width: ~"calc(100% - 20px)";
	    display: block;
	    margin: 10px;
	    input {
	      width: 100%;
        border: 1px solid #555555;
        border-radius: 10px;
			}
		}
    .banner{
      img {
      	width: 100%;
      	margin: 0 auto;
      	display: block;
      }
    }
    .sections {
      padding: 0 10px;
      :nth-child(odd) {
        margin-right: 10px;
      }
      .product {
        margin-bottom: 10px;
        padding: 10px;
        width: ~"calc(50% - 5px)";
        background-color: red;
        float: left;
        background: #FFFFFF;
        font-size: 13px;
        color: #4A4A4A;
        line-height: 18px;
        img {
          width: 100%;
        }
        .name {
          padding: 10px 0;
          margin: 0;
          line-height: 18px;
        }
        .value {
          line-height: 18px;
          font-weight: bold;
          padding: 0;
          margin: 0;
        }
        .value-from {
          font-size: 11px;
          text-decoration: line-through;
        }
        .value-to {
          color: #F37300;
        }
      }
    }
  }
}
