<m-moblet init="init"  is-loading="isLoading" inner-scroll="true" no-content="noContent" unavaliable="error">
  <m-content reload="load" more="more" >
    <div class="store">
      <!-- SEARCH BAR -->
			<div class="search-bar m-theme-bar-top">
				<input class="search-input" type="search" ng-model="search" name="products" placeholder="Buscar">
        <div class="store-menu">
          <div class="menu-button m-theme-button selected" type="button" name="button">Home</div>
          <div class="menu-button m-theme-button" type="button" name="button">Categorias</div>
        </div>
      </div>
      <!-- BANNER -->
      <div class="banner">
        <img ng-src="{{ banners[0].image }}" alt="{{ banners[0].alt }}" class="store-banner"/>
      </div>
      <!-- SECTIONS -->
      <div class="sections" ng-repeat="section in sections">
        <h1 class="section-title m-theme-text-color"
            ng-if="section.products.length > 0"
            ng-bind="section.name">
        </h1>
        <div
          class="product"
          ng-repeat="product in section.products"
          ng-if="section.products.length > 0"
          >
            <!-- <div id="img-{{ item.id }}" class="thumb" ng-style="{'background-image':'url({{ item.image }})'}" ></div>
            <img id="control-img-{{ item.id }}" image-id="{{ item.id }}" onload="malbumImageLoaded(this)"  ng-src="{{ item.image }}" style="display:none" /> -->

            <img src="{{ product.thumbnail }}" alt="{{ product.id }}-{{ product.name }}" />
            <p class="name">{{ product.name }}</p>
            <p
              ng-if="product.valueFrom && product.valueFrom > product.valueTo"
              class="value value-from">
              {{ localizeCurrency(product.valueFrom) }}
            </p>
            <p
              ng-if="product.valueFrom && product.valueFrom > product.valueTo"
              class="value value-to m-theme-text-color">
              {{ localizeCurrency(product.valueTo) }}
            </p>
            <p
              ng-if="!product.valueFrom || product.valueFrom <= product.valueTo"
              class="value m-theme-text-color">
              {{ localizeCurrency(product.valueTo) }}
            </p>
        </div>
      </div>
    </div>
    <!-- Detail -->
    <div class="detail m-theme-null-background {{ itemStyle }}" ng-if="isDetail">
      <img class="full-width-image" ng-src="{{ detail.image }}">
      <div class="detail-container">
        <h1 class="title" ng-bind="detail.title"></h1>
        <div class="description" m-bind-html="detail.description"></div>
      </div>
    </div>
  </m-content>
</m-moblet>
