<m-moblet
init="router"
is-loading="isLoading"
inner-scroll="true"
no-content="noContent"
unavaliable="error"
>
  <m-content>
    <!-- ################################################################## -->
    <!-- ######################## STORE VIEW (MAIN) ####################### -->
    <!-- ################################################################## -->
    <div
    ng-if="view === page.STORE"
    class="store m-theme-null-background"
    >
      <!-- SEARCH BAR -->
			<div class="search-bar m-theme-bar-top {{ platform }}">
				<input
        ng-model="search"
        class="search-input"
        name="products"
        placeholder="Buscar"
        >
        <div class="store-menu">
          <div
          class="menu-button m-theme-button"
          ng-class="{'selected' : isButtonHomeActive }"
          type="button"
          name="button"
          >
          Home</div>
          <div
          class="menu-button m-theme-button"
          ng-class="{'selected' : isButtonCategoriesActive }"
          type="button"
          name="button"
          >
          Categorias</div>
        </div>
      </div>
      <!-- BANNER -->
      <div id="banner-container" class="banner bottom-border">
        <div ng-repeat="banner in banners.products | limitTo: banners.limit">
          <img ng-src="{{ banner.image }}" alt="{{ banner.alt }}" />
        </div>
        <!-- MORE BUTTON -->
        <div
          class="load-button"
          ng-class="{
            'load-more': banners.showMoreButton,
            'load-less': !banners.showMoreButton
          }"
          ng-if="banners.hasMoreBanners"
          ng-click="bannersLimitSwap()"
          >
          <i class="icon ion-chevron-down"></i>
        </div>
      </div>
      <!-- SECTIONS -->
      <div
      ng-repeat="(sectionIndex, section) in sections"
      ng-if="section.hasProducts"
      class="product-group bottom-border main-padding"
      id="section-{{ sectionIndex }}"
      >
        <h1
        ng-bind="section.name"
        class="section m-theme-text-color"
        >
        </h1>
        <!-- PRODUCTS -->
        <div class="products">
          <div
            ng-repeat="(productIndex, product) in section.products | limitTo: section.limit"
            ng-click="goToProduct(product.id)"
            class="product"
            id="section-{{ sectionIndex }}-product-{{ productIndex }}"
            >
              <!-- PRODUCT IMAGE -->
              <div class="skeleton thumb-size">
                <div
                id="img-{{ product.id }}"
                class="thumb"
                ng-style="{'background-image':'url({{ product.thumbnail }})'}"
                ></div>
                <img
                ng-src="{{ product.thumbnail }}"
                onload="malbumImageLoaded(this)"
                id="control-img-{{ product.id }}"
                image-id="{{ product.id }}"
                style="display:none"
                />
              </div>
              <!-- PRODUCT NAME -->
              <p class="name">
                {{ product.name }}
              </p>
              <!-- PRODUCT PRICE -->
              <p
              ng-if="product.hasPromotion"
              class="value value-from"
              ng-bind="product.valueFrom"
              >
              </p>
              <p
              ng-if="product.hasPromotion"
              class="value value-to m-theme-text-color"
              ng-bind="product.valueTo"
              >
              </p>
              <p
              ng-if="!product.hasPromotion"
              class="value m-theme-text-color"
              ng-bind="product.valueTo"
              >
              </p>
          </div>
        </div>
        <!-- MORE BUTTON -->
        <div
          class="load-button"
          ng-class="{
            'load-more': section.hasMoreProducts,
            'load-less': !section.hasMoreProducts
          }"
          ng-if="section.showSwapButton"
          ng-click="productGroupLimitSwap(section, 'section-' + sectionIndex)"
          >
          <i class="icon ion-chevron-down"></i>
        </div>
      </div>
    </div>
    <!-- ################################################################## -->
    <!-- ########################## PRODUCT VIEW ########################## -->
    <!-- ################################################################## -->
    <div
    ng-if="view === page.PRODUCT"
    class="product"
    >
      <div class="detail-container">
        <!-- PRODUCT SLIDER -->
        <ion-slides options="sliderOptions" slider="slider.sliderDelegate">
          <ion-slide-page
          ng-repeat="image in product.productImages"
          >
            <div
            class="image-container"
            style="background-image: url('{{ image.url }}')"
            >
            </div>
          </ion-slide-page>
        </ion-slides>
        <!-- PRODUCT DATA -->
        <div class="title main-padding">
          <h1 ng-bind="product.name"></h1>
          <h2 ng-bind="product.smallDescription"></h2>
        </div>
        <hr>
        <div class="options bottom-border main-padding">
          Opções do produto
        </div>
        <div class="options bottom-border main-padding">
          Frete e prazo de entrega
        </div>
        <!-- PRODUCT PRICE AND CTA -->
        <div class="price bottom-border main-padding">
          <div class="cc">
            <span
            ng-bind="localizeCurrency(product.valueTo)"
            class="price"
            ></span>
            <div class="right m-theme-text-color">ver parcelamento</div>
            <div class="type">no cartão de crédito</div>
          </div>
          <div
          ng-if="product.discountValue.value"
          class="slip"
          >
            <span
            ng-bind="product.discountValue.value"
            class="price"
            ></span>
            <div class="type">
              no {{ product.discountValue.label}}
              <span class="discount m-theme-text-color">
                ({{ product.discountValue.discountValue }} de desconto)
              </span>
            </div>
          </div>
          <div class="cta m-theme-bar-top">
            Comprar
          </div>
        </div>
        <div class="options main-padding">
          <div
          ng-click="accordionSwap('showDescription')"
          class="accordion-title"
          >
            <span>Descrição</span>
            <i
            ng-class="{
              'ion-chevron-up': showDescription,
              'ion-chevron-down': !showDescription
            }"
            class="right"
            ></i>
          </div>
          <div
          ng-if="showDescription"
          class="description"
          m-bind-html="product.description"
          >
          </div>
        </div>
          <hr>
        <div class="options bottom-border main-padding">
          <div
          ng-click="accordionSwap('showTechDetails')"
          class="accordion-title"
          >
            <span >Ficha técnica</span>
            <i
            ng-class="{
              'ion-chevron-up': showTechDetails,
              'ion-chevron-down': !showTechDetails
            }"
            class="right"
            ></i>
            <div
            ng-if="showTechDetails"
            class="description"
            m-bind-html="product.information"
            >
          </div>
        </div>
      </div>
      <!-- SIMILAR PRODUCTS LIST -->
      <div
      ng-if="hasSimilar"
      class="product-group bottom-border main-padding"
      id="similar"
      >
        <h1
        ng-bind="similar.name"
        ></h1>
        <!-- PRODUCTS -->
        <div class="products">
          <div
            ng-repeat="(productIndex, product) in similar.products | limitTo: similar.limit"
            ng-click="goToProduct(product.id)"
            class="product"
            id="similar-product-{{ productIndex }}"
            >
              <!-- PRODUCT IMAGE -->
              <div class="skeleton thumb-size">
                <div
                id="img-{{ product.id }}"
                class="thumb"
                ng-style="{'background-image':'url({{ product.thumbnail }})'}"
                ></div>
                <img
                ng-src="{{ product.thumbnail }}"
                onload="malbumImageLoaded(this)"
                id="control-img-{{ product.id }}"
                image-id="{{ product.id }}"
                style="display:none"
                />
              </div>
              <!-- PRODUCT NAME -->
              <p class="name">
                {{ product.name }}
              </p>
              <!-- PRODUCT PRICE -->
              <p
              ng-if="product.hasPromotion"
              class="value value-from"
              ng-bind="product.valueFrom"
              >
              </p>
              <p
              ng-if="product.hasPromotion"
              class="value value-to m-theme-text-color"
              ng-bind="product.valueTo"
              >
              </p>
              <p
              ng-if="!product.hasPromotion"
              class="value m-theme-text-color"
              ng-bind="product.valueTo"
              >
              </p>
          </div>
        </div>
        <!-- MORE BUTTON -->
        <div
          class="load-button"
          ng-class="{
            'load-more': similar.hasMoreProducts,
            'load-less': !similar.hasMoreProducts
          }"
          ng-if="similar.showSwapButton"
          ng-click="productGroupLimitSwap(similar, 'similar')"
          >
          <i class="icon ion-chevron-down"></i>
        </div>
      </div>
    </div>
    <!-- CATEGORY VIEW -->
    <div
    ng-if="view === page.CATEGORY"
    class="category"
    >
    </div>
  </m-content>
  <style>
    .android .store-menu .selected {
      border-bottom-color: {{ colors.darker}}!important;
    }
  </style>
</m-moblet>
