m-ecommet{
	.store {
		.search-bar {
	    width: ~"calc(100% - 20px)";
	    display: block;
	    margin: 10px;
	    input {
	      width: 100%;
			}
		}
    .store-slider {
      width:100%;
    }
  }
}
